<main class="cs-page-wrapper">
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a routerLink="/"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/cuenta/perfil">Mi Cuenta</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Mis Reseñas</li>
      </ol>
    </div>
  </nav>

  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">
      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <app-sidebar></app-sidebar>
      </aside>

      <div class="col-lg-8 ml-auto">
        <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-2" >
          <h1 class="h2 mb-0">Mis Reseñas</h1>
        </div>

        <div  class="row">
          <div *ngFor="let item of reviews | paginate: { itemsPerPage: 5, currentPage: p }" class="col-12 mb-3">
            <div class="mb-4 pb-4 border-bottom">
              <div class="row">
                <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                  <h3 class="mb-2 font-size-lg">{{ item.customer.name }}</h3>
                  <span class="d-block mb-3 font-size-sm text-muted">{{ item.create_at | date }}</span>
                  <div class="mt-n1 star-rating">
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 1}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 2}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 3}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 4}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 5}"></i>
                  </div>
                </div>
                <div class="col">
                  <p class="mb-3">
                    <a class="mr-1 font-weight-bold text-decoration-none" href="#">@{{ item.customer.email }}</a>
                    <br />
                    {{ item.review }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="load_data" class="accordion-alt">
          <div class="col-12 text-center">
            <span>Cargando...</span>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-end">
          <pagination-controls previousLabel="Atrás" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
        </div>
        
      </div>
    </div>
  </section>
</main>
