/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
}

.ngx-pagination {
  margin-bottom: 0 !important;
  .current {
    background-color: #17696a !important;
  }
}

.is-valid {
  border-color: #03cea4 !important;
}
